* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	height: 100%;
}

body {
	height: 100% !important;
	background: #f8f8f8 !important;
}

.widgets {
	width: 100%;

	.widgets-container {
		margin: 15px 0 0 15px;

		.md-layout {
			padding: 0 15px 15px 0;
		}
	}
}
